.inputGroup,
.formActions {
    display: flex;
    gap: var(--spacing-md);
}

.formActions {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: var(--spacing-md) 0;
}

.doubleDigits {
    width: 8ch;
}

.form {
    max-width: 40ch;
    border-radius: var(--spacing-md);
    background-color: var(--slate-200);
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

@media (prefers-color-scheme: dark) {
    .form {
        background-color: var(--slate-800);
    }
}

.formField {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}
