.container {
    padding: var(--spacing-md);
}

label {
    padding: calc(var(--font-size-md) / 2) 0;
}

input[type="text"],
input[type="number"] {
    max-width: 32ch;
    border-radius: var(--spacing-xs);
    padding: calc(var(--font-size-md) / 2);
    font-size: var(--font-size-md);
}

.inputGroup {
    display: flex;
    gap: var(--spacing-md);
}

.doubleDigits {
    width: 8ch;
}

.form {
    border-radius: var(--spacing-md);
    background-color: var(--slate-200);
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-md) / 2);
}

.formField {
    display: flex;
    flex-direction: column;
}
