:root {
    --white: hsl(0, 0%, 97%);
    --black: hsl(0, 0%, 3%);
    --link: hsl(237, 100%, 70%);
    --link-hover: hsl(237, 86%, 64%);

    --font-size-md: 16px;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;

    --slate-50: hsl(210, 40%, 98%);
    --slate-100: hsl(210, 40%, 96%);
    --slate-200: hsl(214, 32%, 91%);
    --slate-300: hsl(213, 27%, 84%);
    --slate-400: hsl(215, 20%, 65%);
    --slate-500: hsl(215, 16%, 47%);
    --slate-600: hsl(215, 19%, 35%);
    --slate-700: hsl(215, 25%, 27%);
    --slate-800: hsl(217, 33%, 17%);
    --slate-900: hsl(222, 47%, 11%);
    --slate-950: hsl(229, 84%, 5%);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--black);
    background-color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: var(--link);
    text-decoration: inherit;
}
a:hover {
    color: var(--link-hover);
}

body {
    margin: 0;
    display: grid;
    place-items: center top;
    min-width: 320px;
    min-height: 100vh;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #213547;
        color: hsl(0, 0%, 80%);
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
